SourceCode/Package/Win64
SourceCode/Package/Win32
SourceCode/Package/neSparklePackage.dproj.local
SourceCode/Package/neSparklePackage.identcache
SourceCode/Package/neSparklePackage.res
SourceCode/Package/neSparklePackage.stat
